HTTP_BIND_ADDR=0.0.0.0:80
MYSQL_DATABASE=zabbix
MYSQL_PASSWORD=zabbix
MYSQL_ROOT_PASSWORD=password
MYSQL_USER=zabbix
PHP_TZ=Europe/Kiev
ZBX_ADMIN_PASSWORD=zabbix
ZBX_DISABLE_GUEST=true
ZBX_EXTERNAL_SERVER_PORT=10051
ZBX_SERVER_NAME=zabbix
ZBX_AGENT_HOSTNAME=agent
ZBX_VERSION=4.2
CONFIGURATOR_OPTIONS=--debug
SUBNET_PREFIX=172.15.0.
SMTP_EMAIL=monitor@smtp.local
ADMIN_EMAIL_ADDRESS=admin@smtp.local,admin1@smtp.local
DEFAULT_HOST_SECRET=8201e33f60093f2ce49f1abe6be8*****
URL_LIST=[{"name":"localhost","url":"http://localhost","priority":4},{"name":"github.com","url":"https://github.com","priority":4}]
ZBX_CONFIG={"authentication_type":0,"ok_period":"1d"}
ZBX_ADMIN_USERS=[{"name":"user","password":"password"},{"name":"user1","password":"password"}]
GF_SECURITY_ADMIN_PASSWORD=grafana
GF_ROOT_URL=%(protocol)s://%(domain)s/grafana/
