apiVersion: 1

datasources:
- name: Zabbix
  type: alexanderzobnin-zabbix-datasource
  access: proxy
  url: {0}/api_jsonrpc.php
  isDefault: true
  jsonData:
    username: admin
    password: {1}
    trends: true
    trendsFrom: 7d
    trendsRange: 4d
    cacheTTL: 1h
    alerting: true
  version: 1
  editable: false
